
/* Button */
.button {
    background-color: var(--primary-color-2);
    border: 2px solid var(--primary-color-2);
    color: var(--primary-color-1);
    padding: 10px 18px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: linear 0.5s;
    border-radius: 3px;
}

.button:hover {
    color: var(--primary-color-2);
    background-color: var(--primary-color-1);
    text-decoration: none;
    transition: linear 0.5s;
}

.button-outline {
    background-color: transparent;
    color: var(--primary-color-2);
}

.button-outline:hover {
    background-color: var(--primary-color-2);
    color: var(--primary-color-1);
}

/*End Button */

/* Main Page */
/* Header */
.header {
    padding: 0px 30px;
    background-color: var(--primary-color-1);
    position: sticky;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    top: 0;
    z-index: 99;
}

.header .inner-wrap {
    justify-content: space-between;
    align-items: center;
}

.header .inner-wrap .inner-logo {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.header .inner-wrap .inner-logo img {
    height: 100%;
    object-fit: contain;
}

.header .inner-wrap .inner-list-nav {
    margin-bottom: 0px;
    justify-content: center;
}

.header .inner-wrap .inner-list-nav a {
    color: var(--primary-color-2);
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    padding: 30px 20px;
    font-weight: 500;
    text-align: center;
    transition: linear 0.5s;
    text-transform: uppercase;
}

.header .inner-wrap .inner-list-nav a:hover {
    background-color: var(--primary-color-2);
    color: var(--primary-color-1);
    transition: linear 0.5s;
}

.header .inner-wrap .inner-list-user {
    margin-bottom: 0px;
    justify-content: flex-end;
}

.header .inner-wrap .inner-list-user li {
    margin-right: 10px;
}

.header .inner-wrap .inner-list-user li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color-2);
    width: 50px;
    height: 50px;
    text-decoration: none;
    background-color: var(--primary-color-1)fffc4;
    border-radius: 5px;
    transition: linear 0.5s;
    font-size: 22px;
}

.header .inner-wrap .inner-list-user li a:hover {
    color: var(--primary-color-1);
    background-color: var(--primary-color-2);
    transition: linear 0.5s;
}

/*End Header */

/* section one */
.section-one {
    background-image: url(../image/Background-1.png);
    padding: 150px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-one .inner-wrap .inner-content .inner-sub-title {
    font-size: 22px;
    color: var(--primary-color-2);
    margin-bottom: 12px;
}

.section-one .inner-wrap .inner-content .inner-title {
    font-size: 60px;
    color: var(--primary-color-2);
    margin-bottom: 20px;
}

.section-one .inner-wrap .inner-content .inner-desc {
    color: var(--primary-color-2);
    font-size: 22px;
    margin-bottom: 40px;
}
/* End section one */
/*  section two */
 .section-two {
    padding: 90px 0px;
 }

 .section-two .inner-wrap {
    justify-content: space-between;
 }

 .section-two .inner-wrap .inner-item {
    position: relative;
    overflow: hidden;
    max-width: 49%;
    height: 300px;
    padding: 0px;
    border-radius: 5px;

 }

 .section-two .inner-wrap .inner-item:hover .inner-img {
    transform: scale(1.1);
    transition: linear 0.3s;

 }

 .section-two .inner-wrap .inner-item .inner-img {
    width: 100%;
    border-radius: 5px;
    transition: linear 0.3s;

 }

 .section-two .inner-wrap .inner-item .inner-box {
    width: 50%;
    padding: 40px;
    position: absolute;
    top: 0;
 }

 .section-two .inner-wrap .inner-item .inner-box .inner-title {
    font-weight: 500;
    margin-bottom: 12px;
 }

 .section-two .inner-wrap .inner-item .inner-box .inner-desc {
    margin-bottom: 20px;
 }

 .section-two .inner-wrap .inner-item .inner-box .button {
    padding: 8px 20px;
    font-size: 16px;
    border: none;
 }


/* End section two */
/*  section three */
.section-three {
    background-color: #f6f5f3;
    padding: 90px 0px;
}


.section-three .inner-wrap {
    justify-content: space-between;
    align-items: center;
}

.section-three .inner-wrap .inner-image {
    border-radius: 10px;
    padding: 0px;
    width: 40%;
}


.section-three .inner-wrap .inner-image img {
    width: 100%;
    border-radius: 5px;
    height: 500px;
    object-fit: cover;
}

.section-three .inner-wrap .inner-content {
    text-align: center;

}

.section-three .inner-wrap .inner-content .inner-title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 30px;
}

.section-three .inner-wrap .inner-content .inner-desc {
    font-size: 24px;
    margin-bottom: 50px;
}

.section-three .inner-wrap .inner-content .button {
    padding: 12px 30px;
    font-size: 22px;
}


/* End section three */
.section-four {
    background-color: #f6f5f3;
    padding: 90px 0px;
}


.section-four .inner-wrap {
    justify-content: space-between;
    align-items: center;
}

.section-four .inner-wrap .inner-image {
    border-radius: 10px;
    padding: 0px;
    width: 40%;
}


.section-four .inner-wrap .inner-image img {
    width: 100%;
    border-radius: 5px;
    height: 500px;
    object-fit: cover;

}

.section-four .inner-wrap .inner-content {
    text-align: center;

}

.section-four .inner-wrap .inner-content .inner-title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 30px;
}

.section-four .inner-wrap .inner-content .inner-desc {
    font-size: 24px;
    margin-bottom: 50px;
}

.section-four .inner-wrap .inner-content .button {
    padding: 12px 30px;
    font-size: 22px;
}

/* Section five */

.section-five {
    padding: 90px 0px;
}

.section-five .inner-wrap .inner-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 60px;
    font-size: 48px;
}

.section-five .inner-wrap .inner-list {
    justify-content: space-between;
}

.section-five .inner-wrap .inner-list .inner-item {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    cursor: pointer;
    transition: linear 0.3s;
    padding: 0px;
    margin: 0px 15px;
    max-width: calc(100% / 3 - 20px);
    margin-top: 20px;
}

.section-five .inner-wrap .inner-list .inner-item:nth-child(1) {
    margin-left: 0px;
}

.section-five .inner-wrap .inner-list .inner-item:nth-child(3) {
    margin-right: 0px;
}

.section-five .inner-wrap .inner-list .inner-item:hover {
    box-shadow: 0px 0px 9px 3px rgba(66, 33, 11, 0.16);
    transition: linear 0.3s;
}


.section-five .inner-wrap .inner-list .inner-item .inner-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-bottom: 20px;
}

.section-five .inner-wrap .inner-list .inner-item .inner-name {
    font-weight: 500;
    font-size: 18px;
}

.section-five .inner-wrap .inner-list .inner-item .inner-price {
    font-weight: 550;
    margin-bottom: 20px;
}

/* End Section five */

/*  Section six */

.section-six {
    background-color: var(--background-color-1);
    padding: 90px 0px;
}

.section-six .inner-wrap {
    justify-content: space-between;
    align-items: center;
}

.section-six .inner-wrap .inner-content {
    margin-right: 5%;
    padding: 0px        ;
}

.section-six .inner-wrap .inner-content .inner-title {
    font-size: 60px;
    margin-bottom: 40px;
}

.section-six .inner-wrap .inner-content .inner-desc {
    font-size: 22px;
    margin-bottom: 40px;
}

.section-six .inner-wrap .inner-image {
    flex: 1;
    border-radius: 5px;
}

.section-six .inner-wrap .inner-image img {
    width: 100%;
    border-radius: 5px;

}
/* End Section six */

/* section-seven */

.section-seven {
    background-color: var(--background-color-1);
    padding: 90px 0px;
}

.section-seven .inner-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
}


.section-seven .inner-list {
    justify-content: space-between;
}

.section-seven .inner-list .inner-item {
    background-color: var(--primary-color-1);
    padding: 35px 40px;
    border-radius: 5px;
    max-width: calc(50% - 16px);
}

.section-seven .inner-list .inner-item .inner-wrap {
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    margin-bottom: 35px;
}

.section-seven .inner-list .inner-item .inner-wrap .inner-info {
    justify-content: space-around;
    align-items: center;
    margin: 0px;
}

.section-seven .inner-list .inner-item .inner-wrap .inner-info .inner-image {
    width: 100px;
    height: auto;
    border-radius: 50%;
    object-fit: contain;
    border: 3px solid var(--primary-color-2);
}

.section-seven .inner-list .inner-item .inner-wrap .inner-info .inner-image img {
    width: 100%;
    border-radius: 50%;
}

.section-seven .inner-list .inner-item .inner-wrap .inner-info  .inner-customer {
    margin-left: 30px;
    position: relative;
    font-weight: 600;
}

.section-seven .inner-list .inner-item .inner-wrap .inner-info  .inner-customer::before {
    content: "";
    height: 100%;
    width: 5px;
    background-color: var(--primary-color-2);
    position: absolute;
    left: -20px;
    border: 5px;
}


.section-seven .inner-list .inner-item .inner-wrap .inner-info  .inner-customer .inner-name {
    font-size: 19px;
}

.section-seven .inner-list .inner-item .inner-wrap .inner-info  .inner-customer .inner-role {
    margin: 0px;
    color: var(--primary-color-2);
    font-weight: 500;
}

.section-seven .inner-list .inner-item .inner-wrap .inner-rate i {
    color: #ffc107;
    font-size: 20px;
}

.section-seven .inner-list .inner-item .inner-comment {
    margin-bottom: 25px;
    font-size: 28px;
}

.section-seven .inner-list .inner-item .inner-desc {
    font-size: 18px;
}






/*End section-seven */



 /* Footer */
.footer {
    padding-top: 30px ;
    color: var(--primary-color-1);
    background-color: var(--primary-color-2);
    padding-bottom: 10px;
}

.footer .footer-logo {
    margin-bottom: 30px;
}

.footer .footer-logo a {
    display: inline-block;
    width: 100%;
    text-align: center;

}

.footer .footer-logo a img {
    width: 100px;
    height: 100px;
}

.footer .inner-list {
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer .inner-list .inner-item {

}

.footer .inner-list .inner-item .inner-title {
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 16px;
}


.footer .inner-list .inner-item .inner-nav {

}

.footer .inner-list .inner-item .inner-nav li {
    margin-bottom: 5px;
}

.footer .inner-list .inner-item .inner-nav a {
    color: var(--background-color-1);
    text-decoration: none;
}

.footer .inner-list .inner-item .inner-nav .inner-socials {
    display: inline-flex;
    align-items: center;
}

.footer .inner-list .inner-item .inner-nav .inner-icon {
    font-size: 28px;
    margin-right: 10px;
}

.footer .inner-right {
    text-align: center;
    margin: 0px;
}

 /* End Footer */


/*End Main Page */

/* sanpham_vang */

.title-section {
    padding: 50px 0;
    margin-bottom: 20px;
}

.title-section .inner-content {
    text-align: center;
}

.title-section .entry-header h1 {
    color: var(--text-color);
    font-weight: 500;
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 12px;
}

.title-section .entry-breadcrumbs {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-second-color);
}

.title-section .entry-breadcrumbs a {
    text-decoration: none;
    color: var(--text-second-color);
}

.title-section .entry-breadcrumbs a:hover {
    color: var(--text-color);
}

.title-section .entry-breadcrumbs .breadcrumbs-icon
{
    font-size: 12px;
    color: var(--text-color);
}

.title-section .entry-breadcrumbs .breadcrumbs-current{
    color: var(--text-color);
}

/* Category */
.good_container {
    padding: 0 0 100px;
    /* background-color: #f5f5f5; */
}

.category {
    /* padding: 16px; */
    border: 1px solid #eee;
    margin-bottom: 20px;
}

.category .category__heading {
    font-size: 22px;
    font-weight: 500;
    padding: 15px;
    margin: 0;
    background: #eee;
}

.category .category-list {
    padding: 16px;
    margin: 0;
}

.category .category-list .category-item {
    padding: 4px 0;
}

.category .category-list .category-item a {
    font-size: 16px;
    color: var(--text-color);
}
/* End Category */
/* Brand */
.item-brand {
    border: 1px solid #eee;
}

.item-brand .inner_brand_title {
    font-size: 22px;
    font-weight: 500;
    padding: 16px;
    margin: 0;
    background: #eee;
}

.item-brand .inner-wrap {
    padding: 16px;
    height: 230px;
    /* margin: 0 -8px; */
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-color-2);
}


.item-brand .brand .brand_contain{
    padding: 5px;
}

.item-brand .brand .padding-right {
    padding-right: 0;
}

.item-brand .brand a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    text-align: center;
    background: #eee;
    margin-bottom: 15px;
}


.item-brand .brand .brand_image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
}
/* End Brand */

/* Hone filter */
.btn-filter {
    min-width: 12px;
    height: 34px;
    text-decoration: none;
    border-radius: 3px;
    padding: 0 12px;
    color: var(--text-color);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    background-color: #fff;
}

.btn--primary {
    border: 2px solid var(--primary-color-2);
    background-color: var(--primary-color-2);
    color: var(--primary-color-1);
}

/* .button:hover {
    color: var(--primary-color-2);
    background-color: var(--primary-color-1);
    text-decoration: none;
    transition: linear 0.5s;
} */

.button-outline {
    background-color: transparent;
    color: var(--primary-color-2);
}

.btn-outline {
    background-color: transparent;
    color: var(--primary-color-2);
}

/* .btn-outline:hover {
    background-color: var(--primary-color-2);
    color: var(--primary-color-1);
} */

.good_container .home-filter {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 12px 22px;
    border-bottom: 2px solid #f6f5f3;
    font-size: 16px;
}

.home-filter__label {
    color: var(--text-color);
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
}

/* list option */
.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    text-decoration: none;
    border-radius: 3px;
    padding: 0 12px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    border: 1px solid #eee;
}

.select-input:hover .select-input__list {
    display: block;
}


.select-input .select-input__label {
    font-size: 16px;

}

.select-input__list {
    position: absolute;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    left: 0;
    right: 0;
    top: 100%;
    padding: 8px 16px;
    display: none;
}

.select-input__list .select-input__link {
    font-size: 14px;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 4px;
}

.select-input__list .select-input__link:hover {
    color: var(--primary-color-2);
}

/* list option */
.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page .home-filter__page-num {
    font-size: 16px;
    color: var(--text-second-color);
    margin-right: 22px;
}

.home-filter__page .home-filter__page-num .home-filter__page-current {
    /* font-weight: 600; */
    color: var(--text-color);
}

.home-filter__page-control {
    display: flex;
    
    overflow: hidden;
}

.home-filter__page-control .home-filter__page-btn {
    display: flex;
    width: 36px;
    height: 36px;
    background-color: var(--background-color-1);
    text-decoration: none;
    color: var(--text-color);
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #ada399;
}

.home-filter__page-control .home-filter__page-btn--disabled {
    color: #afafaf;
}


.home-filter__page-icon {
    margin: auto;
    font-size: 14px;
}

/* san pham */
.good_container .inner-item-product {
    background: linear-gradient(to bottom, #fff 0%, #f7f7f7 100%);
}

.good_container .inner-item-product:hover .product-button {
    opacity: 1;
    visibility: visible;
    z-index: 9;
    bottom: 5px;
}


.good_container .inner-item-product .item-image {
    margin-bottom: 0;
    min-height: 200px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    background-color: transparent;
}

.good_container .inner-item-product .item-image img {
    width: 300px;
    max-width: 100%;
    aspect-ratio: auto 300/300;
    height: auto;
    vertical-align: middle;
}
   
.good_container .item-image .product-button {
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: all 0.3s ease-out;
}

.good_container .product-button .button-item {
    border-radius: 5px;
    margin: 0 5px;
    overflow: hidden;
}

.good_container .item-image .product-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color-2);
    /* display: block; */
    width: 40px;
    height: 40px;
    background-color: #eaeaea;
    font-size: 18px;
}

.good_container .item-image .product-button a:hover {
    color: var(--primary-color-1);
    background-color: var(--primary-color-2);
}


.good_container .inner-item-product .inner-content {
    padding: 10px;
}

.good_container .inner-item-product .inner-title {
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    padding: 0 10px;
}

.good_container .inner-item-product .inner-price {
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 10px 0;
}

.good_container .inner-item-product .inner-price .new-price {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color-2);
}

.good_container .inner-item-product .inner-price .old-price {
    font-size: 15px;
    color: #9b9b9b;
}

.good_container .inner-item-product .inner-price .old-price .price{
    text-decoration: line-through;
    color: #9b9b9b;
}

.good_container .inner-item-product .inner-price .old-price .product-discount { 
    text-decoration: none;
    font-weight: 500;
}

.inner-item-product .product-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.inner-item-product .product-footer .product-left {
    text-align: left;
    font-size: 12px;
}

.inner-item-product .product-footer .product-left i {
    color: #ffc107;
}

.inner-item-product .product-footer .product-right {
    text-align: right;
    font-size: 12px;
}

/* san pham */

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 ;
}

.pagination .pagination-item{
    margin: 0 8px;
}

.pagination .pagination-item.pagination-item-active .pagination-link {
    background-color: var(--primary-color-2);
    color: var(--primary-color-1);
}


.pagination .pagination-link {
    text-decoration: none;
    color: var(--text-second-color);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
}


/* pagination */


/* sanpham_vang */

/* * <!--Đăng Nhập và Đăng Ký--> */
.logo1{
    height: 120px;
     width: 120px;
}

.vetrangchu{
    position: absolute;
    color: black;
    right: 60px;
    top: 150px;
    z-index: 3;
    background-color: #ffff;
    border: #ffff solid;
    font-size: 24px;
}
.align-center{
    border: 1px solid #ffff;
    width: 600px;
    height: 600px;
    text-align: center;
    border-radius: 30px;
    margin: 20px auto;
}
.chung{
    display: inline-block;
    margin: 20px auto;
}
.tieude{
    display: block;
    width: 100%;
    text-align: left;
    margin-left: 80px;  
    height: 25px;   
}
.sizetieude1{
    font-size: 38px;
}
.sizetieude2{
    font-size: 20px;
}
.form-align{
    border-radius: 10px;
    padding: 9px;
}
.nutdangky{
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    padding: 5px;
    width: 420px;
    background-color: #DBD5CB;
    color: #5B3724;
}
.nutdangky:hover{
    color: #fff;
    background-color: #5B3724;
}
.thaythedangky{
    border-bottom: 1px solid;
}
.icon{
    margin: 20px;   
}
.icon a{
    text-decoration: none;
}
.icon1{
    height: 100px;
}
.google{
    height: 30px;
    padding-left: 10px;
}
.facebook{
    height: 30px;
    padding-right: 10px;
}

.tieude label{
    font-size: 18px;
}
.tieudebonus{
    margin-bottom: 15px;
    margin-top: 15px;
}
/* <!--End Đăng Nhập và Đăng Ký--> */

/* Gioi Thieu */
.vct {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    border: 2px solid white;
}

.gt12, .gpkd {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 17px;
    border: 2px solid white;
}

.hinha1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
}

/* End Gioi Thieu */

/* Lien He */
.lienhe1 {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    border: 2px solid white;
}

.maps {
    display: flex;
    width: 90%;
    height: 600px; 
    border: 0px; 
    margin-left: auto;
    margin-right: auto;
}

.fa-location-dot, .fa-phone, .fa-clock {
    margin: 50px; 
    font-size: 30px;
    color: #5B3724;
}

.chu1 {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    color: #5B3724;
    margin-top: -30px;
}

.lh3cai {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.chu2 {
    font-size: 17px;
    color: #5B3724;
    margin-top: -15px;
}

.cauhoilh {
    font-style: normal;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
    border: 2px solid white;
}

.cauhoilh12 {
    width: 30.2%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.cauhoichude {
    width: 62%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.vietcmt {
    width: 62%;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100px;  
    padding: 5px;
}

.nutgui {
    width: 62%;
    padding: 10px;
    margin: 10px;
    background-color: #5B3724;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    display: inline-block;
}

.nutgui:hover {
    background-color: #555;
}

.toanbo1 {
    text-align: center;
}
/* End Lien He */
